{% if section.settings.show_cookie_banner %}
<div class="cookie-consent" data-cookie-consent hidden>
  <div class="cookie-consent__inner">
    <p>{{ section.settings.cookie_text | default: 'We use cookies to improve your experience. By continuing, you agree to our use of cookies.' }}</p>
    <div class="cookie-consent__actions">
      <button class="btn btn--small btn--outline" data-cookie-decline>Decline</button>
      <button class="btn btn--small btn--primary" data-cookie-accept>Accept</button>
    </div>
  </div>
</div>
{% endif %}
