<section class="section page-section policy-section">
  <div class="container">
    <div class="page__header">
      <h1 class="page__title">{{ policy.title }}</h1>
    </div>
    <div class="page__content rte">
      {{ policy.body }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Policy content",
  "settings": []
}
{% endschema %}
